-
    let devArray = [
        {
            name:"Sebbe",
            image:"/static/images/teamProfiles/devs/Sebbe-17.png",
            text:["As a former truck driver with big dreams of driving big machines such as excavators, Sebbe has taken on the role as the development team leader. Being in the lead of the development team, Sebbe is not only managing and guiding the rest of the team, he has also designed the software architecture. Sebbe describes himself as a problem solver who learns from past mistakes. Coriander is something Sebbe both likes and dislikes. With emphasis on that it actually does taste good, whenever it does not taste like soap."]
        },
        {
            name:"Vilma",
            image:"/static/images/teamProfiles/devs/Vilma-17.png",
            text:["Vilma, who is the project manager for the development team in this project, deals with tasks including planning with the other heads, taking care of GitHub and making sure everyone is in phase. She is a star at planning and organizing, although her friends call her Vilse (confused/lost in Swedish). Some years ago she trained as an electrician and drew electricity in houses and barns.", "Vilma LOVES pasta and cheese, except for when they are put together in a lasagna. Is that even food?? When she eats, she puts all of her food in her left cheek like a hamster before chewing it. She also likes to trick her gullible friends and wait a long time (sometimes years) before admitting it."]
        },
        {
            name:"Jasmine",
            image:"/static/images/teamProfiles/devs/Jasmine-17.png",
            text:["Jasmine – a member of the development team who enjoys the combo with programming and UX. Alongside the programming profession she also has an education as an assistant nurse and a bartender AND an interest in genealogy. She has researched as far back as the 17th century and is related to a flag bearer in Gustav Vasa’s war with Russia (yes it's cool). Jasmine is stubborn and after 15 outbursts she will maybe, just maybe, ask someone for help. Ingestion in all forms (ironically not booze (anymore)) is something she enjoys, but never offer her any soda that is “zero”. To be on Jasmine's side, don’t let meetings or other things drag out the time and don’t say anything about a topic you know nothing about – Jasmine will find out!"]
        },
        {
            name:"Kajsa",
            image:"/static/images/teamProfiles/devs/Kajsa-17.png",
            text:["Kajsa’s role in the team is as a developer, but she also likes to build UI and UX . Back in the day, her Finnish grandfather competed in sauna championships, and Kajsa planned to follow in his footsteps, but she competed in hip hop dancing instead. Well, it’s kind of the same...right? Right.", "The best thing about Kajsa is her curiousness, it makes her a quick learner which is a great skill for everything, but especially programming. When she is not working in front of the computer she loves to be outside in the sunshine. If that also happens to be in an exotic country, dancing, covered in glitter, surrounded by lions and hamsters , well then you have hit the jackpot with Kajsa’s favourite things, congratulations. But if you come bearing healthy food, then stay away. Kajsa wants nothing to do with you, because ew."]
        },
        {
            name:"Louise",
            image:"/static/images/teamProfiles/devs/Louise-17.png",
            text:["Louise, 22 years old, is a developer in the VIP Snatch Time project. This means she does technical “stuff” and is inclined more towards front end development, but she is starting to dip into back end. An interesting fact about Louise is that she has been interviewed in Japanese TV, and she has been to Japan twice. Some of her perks include having a good memory, especially about facts, and learning languages easily. Surpisingly, she doesn’t like birds or winter. On the other hand she likes dogs, video games, chocolate and D&D."]
        },
        {
            name:"Lucas",
            image:"/static/images/teamProfiles/devs/Lucas-17.png",
            text:["Lucas is a developer who is mainly used to working on the back end side of things, meaning working with the server, structuring data and communication. People tend to think Lucas is younger than he is. He has also traveled to China where he visited the metropol Shanghai as well as the countryside in Yanshou. According to himself, Lucas’ best perk is his ability to stay calm and chill. If there’s a problem, he’ll calmly and objectively look at it from different angles to find the best solution. He is a real problem solver. He likes playing football and video games and even though he is from Spain, he hates summer and loves winter. He’s not a fan of slow drivers and sour candy."]
        },
        {
            name:"Ludvig",
            image:"/static/images/teamProfiles/devs/Ludde-17.png",
            text:["Ludvig is part of the development team as an allrounder, since he wanted to work on both the back end and the front end, but if he had to choose just one he would go with the front end. His tasks are the development of the web page and the game with all of its functions and events. A fun fact about Ludvig is that he only sees with one eye at the time, so he has no real 3D vision. Ludvig’s best perk is his eye (no pun intended) for graphics and he is pretty good at illustrating and drawing. There’s two things he likes the best, namely fun games with fun colors and fun concepts such as Zelda and Super Mario, as well as liquorice. Two things he dislikes the most are realistic FPS games and plain tofu without peanut sauce."]
        },
        {
            name:"Melanie",
            image:"/static/images/teamProfiles/devs/Melanie-17.png",
            text:["Melanie’s role in the team is to program the back end part of the app and she prefers to code in Javascript. Melanie is also a certified reiki-healer, she can technically restore people’s energy and chakra, but she has never actually done it.", "Melanie likes to work in a team and help people, but sometimes it can get a little bit too much. To relax she likes to play video games where she gets to fill the role of a character and complete their quest; like Pokémon games and The Legend of Zelda ones. You will rarely find her playing a shooter game as she dislikes them, when she plays one it’s like when Jim played one in The Office. She loves a good Korean BBQ, but she despises liquorice (with five exclamation marks!!!!!)."]
        },
        {
            name:"Petter",
            image:"/static/images/teamProfiles/devs/Petter-17.png",
            text:["In this project, Petter is programming the game and the website. Before realising that he is supposed to become the king of programming he worked as a pasta chef, so if you have any questions about tagliatelle, penne, fettuccine, or really any kind of pasta, you know who to talk to.", "Petter is hard headed, which is both a good and a bad thing. If he discovers a problem, he won’t stop until the problem is fixed. But if that problem involves eating bananas, then you can count Petter out. He will not come close to those things. However, if that problem involves guitars, then you my friend, are in luck! Petter loves guitars and is an incredible player. So, now you know who to contact with all of your pasta- and guitar related problems: Petter."]
        },
        {
            name:"Pierric",
            image:"/static/images/teamProfiles/devs/Pierric-17.png",
            text:["Pierric is one of this project’s developers. He is interested in geolocation and his ambition is to lead the geolocation part of this game. A quite terrifying fact is that he has a very bad sense of direction and easily gets lost for days, funny, considering his interest in geolocation. Lucky for Pierric, and this project, he likes challenges and doesn’t give up easily. When you don’t see him lost trying to find IKEA he’s probably watching movies, playing badminton, or has found his way to the sea. He’s most probably not eating spinach an early morning in the winter, since that is a combination of his least favourite things."]
        }
    ]

-
    let marketingArray = [
        {
            name:"Kim",
            image:"/static/images/teamProfiles/marketing/Kim-17.png",
            text:["Introducing Kim, this game’s project manager and head of the marketing team. He keeps everyone in check with a smile on his face and is always receptive to new ideas. He makes a plan and makes sure that the rest of the team sticks to it, even when it changes a million times. Likes include his bicycle, great vegan food and a good laugh, whereas he dislikes not eating bread, making people sad and kidney stones. He kicks basically everyone’s arse at Super Smash Bros, so challenge him at your own risk."]
        },
        {
            name:"Johannes",
            image:"/static/images/teamProfiles/marketing/Johannes-17.png",
            text:["Johannes is, according to himself, a mediocre sounding-board for the design and marketing team. He has strong opinions and is the top nominee for the anti-participation award in this project.", "Johannes’ best brag is his eyesight, which is so impeccable it’s well renowned globally. On top of that, he is impressively inventive, kind and quite witty. The glorious traits stated above are weighed down by a complete lack of structure and the fact that he doesn’t eat fruit (but he makes an exception for banana-mallows which he considers a part of the fruit family).", "If you want to charm the pants of this unpredictable man, provide him with a mash so filled with cream and butter that it will be considered sinful to eat it in public. Also, make sure you are not spotted outside wearing sweatpants, or eternal damnation can be expected."]
        },
        {
            name:"Nanna",
            image:"/static/images/teamProfiles/marketing/Nanna-17.png",
            text:["The Nanna way? It’s a variation of cold seriousness and point blank humor. No-one is safe, unless you are a golden nugget (some kind of weird fruit), those are totally safe and eaten. She also loves boats (if they have an intact soul).", "Nanna is our star in marketing and copy (pretentious? Sometimes). If you treat her right she’s a companion for life. Treat her wrong? She will verbally hammer you back to kindergarten.", "Fun fact: Nanna once told her family that she would go for a bike ride in Trelleborg. Fourteen months later she arrived in Cape Town, smelling like a pro with an iron rock as a rear end. What an ace!"]
        },
        {
            name:"Frida",
            image:"/static/images/teamProfiles/marketing/Frida-17.png",
            text:["Frida is the team's swiss army knife, she creates stories that will make anyone fall off their chair with laughter, she wields her paintbrush like the Goddess of art Athena, yet Frida is a mere human, don’t let that fool you. Frida’s power goes beyond paint and scripture as she confidently rides towards the unbeknown abyss. Who knows the extent of her creative power and what it can unleash. As Athena, Frida also consumes knowledge by reading several books daily to best her opponents in battle, beware, for one day Frida might best you.", "As a child Frida wanted to prove her strength so she decided to climb the highest mountain in North Africa's wild terrain. The wind was fierce that day but Frida didn't cave, she fought on and just before the top she was poisoned by a capsicum, and to this day she has sworn revenge that she will use her strength and godlike powers to stand up for injustice and never to go running again."]
        }
    ]

-
    let uxArray = [
        {
            name:"Erik",
            image:"/static/images/teamProfiles/ux/Erik-17.png",
            text:["As one of the more experienced members of the team Erik knows like no other how to survive the millennial and gen-z humor of his students in the team meetings. Even picking up a new vocabulary with terms like Karen and Twerk along the way. It is clear that Erik is not afraid to learn new things. For example when encouraging his daughter to learn how to play piano, he picked it up and became the protege virtuoso himself! He didn’t know he liked it, until he forced his daughter to try it."]
        },
        {
            name:"Nynke",
            image:"/static/images/teamProfiles/ux/Nynke-17.png",
            text:["Nynke is part of the UX-team, which kind of translates to trying to translate Erik’s ideas into a finished UX-design. With a background in design but not in UX, Nynke’s take on this task gives a fresh perspective and a close eye to detail.", "The fact that Nynke doesn’t have any prior experience with UX-design may be a bit surprising, when you look at the work she does you would think she has been doing this for years. When meeting Nynke, don’t be surprised if she changes her accent and adapts to yours, this is something she just does. Just leave it be. Oh, yeah! One more thing about this design-genius, she can’t spell baetiful, oh I mean butifull, damn it… beatyful. Well damn, it's a pretty difficult word. But oh, so beautiful!", "This girl is the social kind, so living alone is one of her biggest dislikes. She tried it, didn’t like it. One more thing she dislikes is wet snow. You know the kind that Skåne has everytime there is some kind of snow? Yeah, that one.  One of her major likes is intense existential discussions. So if you feel a bit “omg the universe is infinite” after playing Snatch Time, you know who to talk to."]
        },
        {
            name:"Hulda",
            image:"/static/images/teamProfiles/ux/Hulda-17.png",
            text:["Hulda is part of the UX-team, meaning that her job is to find smart and good-looking solutions for our game layout. Before Hulda began studying she was a painter, not an artist, but an actual painter of houses. She once spent two weeks in Africa painting schools and teaching people how to paint.", "Hulda prefers to engage with people IRL rather than thorugh social media. She doesn’t like strong winds, chili nuts, or feeling stupid, but she does like animals (mostly cats and dogs), buffalo mozzarella and really good hugs (but not the half-assed hugs that just feel awkward, you can save those for someone else)."]
        }
    ]

mixin teamMember(member, direction)
    .teamMember(class=direction)
        img.teamProfile(src=member.image alt="Picture of " + member.name)
        .teamText
            h1= member.name.toUpperCase()
            each string in member.text
                p= string
