footer
  #footerLinks
    #footerNav.footerLinksDiv
      h3.footerTitle Navigate
      a(href="/") Home page
      a(href="/about/project") About the Project
      a(href="/about/team") About the Team
      a(href="/beta-testing") Beta Testing
      a(href="/release") The tournament
    #footerGame.footerLinksDiv
      h3.footerTitle The Game
      a(href="/rules") Rules
      a(href="/crews") The Crews
      a(href="/planets") The Planets
      a(href="/actions") The Actions
      a(href="/register") Register
    #footerSocMed.footerLinksDiv
      h3.footerTitle Social Media
      a(href="https://www.youtube.com/channel/UC3Drl_KiIJoTnWoHPQhAYuA") YouTube
      a(href="https://www.instagram.com/snatch.time/") Instagram
  #footerScroll 
    img#scrollToTop(src="/static/images/Arrow-20.svg" alt="arrow up")
