-var date = new Date()
-var currentYear = date.getFullYear()

footer
  #footerGrid 
    a.footerLink(href="/info") About
    a.footerLink(href="/info") FAQ
    a.footerLink(href="/info") Contact
  p.footerP &copy; Copyright Scratch #{currentYear}
