header
   #navHamContainer
      .navBar1
      .navBar2
      .navBar3
   #navGrid
      a.navLink.navLinkBig(href="/") HOME
      a.navLink.navLinkBig(href="/info") ABOUT
      a.navLink.navLinkSmall(href="/about-project") About the Project
      a.navLink.navLinkSmall(href="/about-team") About the Team
      a.navLink.navLinkBig(href="/release") EVENTS
      a.navLink.navLinkSmall(href="/betatesting") Beta Testing
      a.navLink.navLinkSmall(href="/release") E-day
      a.navLink.navLinkBig(href="/") THE GAME
      a.navLink.navLinkSmall(href="/game") Rules
      a.navLink.navLinkSmall(href="/") The Crews
      a.navLink.navLinkSmall(href="/") The Planets
      a.navLink.navLinkSmall(href="/") The Actions
      a.navLink.navLinkBig(href="/") REGISTER
