header
  #navGrid
    a#navLogo.navLink(href="/") SNATCH
    div
    a.navLink.nonLogo(href="/game") The Game
    a.navLink.nonLogo(href="/release") Release Day
    a.navLink.nonLogo(href="/scoreboard") Scoreboard
