header
   #navHamContainer
      .navBar1
      .navBar2
      .navBar3
   #navGrid
      a.navLink.navLinkBig(href="/") HOME
      a.navLink.navLinkBig.navAbout ABOUT
      div.aboutDiv.menuDropDownDiv
         a.navLink.navLinkSmall(href="/about-project") About the Project
         a.navLink.navLinkSmall(href="/about-team") About the Team
      a.navLink.navLinkBig.navEvents EVENTS
      div.eventDiv.menuDropDownDiv
         a.navLink.navLinkSmall(href="/beta-testing") Beta Testing
         a.navLink.navLinkSmall(href="/release") E-day
      //-Don't delete line 17 ("the game"), so far we need a page where users can see all videos. This changes when there is a new design on where these videos goes. / Vilma
      a.navLink.navLinkBig.navGame THE GAME
      div.gameDiv.menuDropDownDiv
         a.navLink.navLinkSmall(href="/rules") Rules
         a.navLink.navLinkSmall(href="/crews") The Crews
         a.navLink.navLinkSmall(href="/planets") The Planets
         a.navLink.navLinkSmall(href="/actions") The Actions
      a.navLink.navLinkBig(href="/register") REGISTER
