/* CSS för meny */
h1 {
   color: #424242;
}

.wpPlugin_mainmenu {
   width: 400px;
}

/* CSS för undermeny */
.wpPlugin_submenu_div {
   font-size: 15px;
}

.wpPlugin_submenu_show_bookings {
   padding-bottom: 10px;
   background-color: #f7f7f7;
   border-radius: 38px;
   margin-bottom: 5px;
   padding: 5px;

   display: flex;
   justify-content: space-around;
}

.wpPlugin_submenu_minidiv {
   flex-grow: 1;
   flex-basis: 10px;
}
