doctype html
   html
   head
      title Snatch Time
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width,initial-scale=1')
      //- All of the basic CSS variables
      link(rel='stylesheet' href='/static/css/index.css')
      link(rel='stylesheet' href='/static/css/navigation.css')
   //- CANT INCLUDE NAVIGATION = ERROR IS 500
   include includes/navigation.pug
   body
