doctype html
html
  head
    title Snatch
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    //- All of the basic CSS variables
    link(rel='stylesheet' href='/static/css/navigation.css')
    link(rel='stylesheet' href='/static/css/about-project.css')
    link(rel='stylesheet' href='/static/css/about-team.css')
    link(rel='stylesheet' href='/static/css/index.css')
    link(rel='stylesheet' href='/static/css/variables.css')
    link(rel='stylesheet' href='/static/css/footer.css')
  //- CANT INCLUDE NAVIGATION = ERROR IS 500
  include includes/navigation.pug
  body.about-teamBody
    .logoDiv
    #about-teamText
      p#about-teamUpperText About the Project
      p#about-teamMiddleText This is a text about the project
  //- Common footer
  include includes/footer.pug
  script(src="/static/js/utils.js")
  script(src="/static/js/navigation.js")
