doctype html
html
  head
    title Snatch
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    //- All of the basic CSS variables
    link(rel='stylesheet' href='/static/css/navigation.css')
    link(rel='stylesheet' href='/static/css/about-project.css')
    link(rel='stylesheet' href='/static/css/index.css')
    link(rel='stylesheet' href='/static/css/variables.css')
    link(rel='stylesheet' href='/static/css/footer.css')
  //- CANT INCLUDE NAVIGATION = ERROR IS 500
  include includes/navigation.pug
  body.about-projectBody
    .logoDiv
      a(href="/")
    #about-projectText
      p#about-projectUpperText About the Project
      p Finally you have arrived, we welcome you to our humble abode. Ok, it's not that humble, we actually built all of this by hand and one student died. You might wonder what all of this is about and why 14 students voluntarily created this game. So..., our teacher (that would be Erik Pineiro) said it would be fun and that it would require only two hours a day as it is a 7.5 credits course. Well... he lied (two hours?, really? You don’t get a game like this done in two hours per day). Don't get me wrong, we are having fun, a lot of fun.
      p Erik needed help with his game idea and lured us all in with the  catchy name : “Malmö University, Vertically Integrated Projects (VIP): Team Real Time Web Based Pervasive Games ”. So he got  the vast mix of competences the project required.
      p The team was then divided into smaller groups: the super smart matrix people (web developers), a cool laid back project leader, dedicated user experience designers and finally two of Picasso’s children that handle marketing and design. Together this misfit of stressed out students came together and helped create Snatch Time, together with Erik, Sebastian and Johannes.
      p Because of Covid-19 we had to change our plans a bit, as the original game was to be played in real life like a better version of Swedish kubb or even burning balls (a popular Swedish game that’s a bit like baseball). We still want to make that version of the game and by next summer hopefully Covid-19 has left us and you will be able to play Snatch Time outside in the warming sun. 
      p Interested in VIP? Contact Erik Pineiro.
  //- Common footer
  include includes/footer.pug
  script(src="/static/js/utils.js")
  script(src="/static/js/navigation.js")
