doctype html
html
  head
    title Snatch - The UX team
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    //- All of the basic CSS variables
    link(rel='stylesheet' href='/static/css/about-teams.css')
    link(rel='stylesheet' href='/static/css/navigation.css')
    link(rel='stylesheet' href='/static/css/index.css')
    link(rel='stylesheet' href='/static/css/variables.css')
  //- CANT INCLUDE NAVIGATION = ERROR IS 500
  include includes/navigation.pug
  include includes/about-teams-data.pug

  body.about-teamsBody
    .logoDiv
      a(href="/")
    .wrapper
      h1 UX Team
      .teamMembers
        each member, index in uxArray
          - let direction = ""
            if index % 2 == 0
              - direction = "left"
            else
              - direction = "right"
            +teamMember(member, direction)

  //- Common footer
  include includes/footer.pug
  //- Common utility functions
  script(src='/static/js/utils.js')
  //- JavaScript for this page (might not be needed)
  script(src='/static/js/index.js')
  script(src='/static/js/navigation.js')
