doctype html
html
  head
    title Snatch - Beta testing
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    //- All of the basic CSS variables
    link(rel='stylesheet' href='/static/css/common.css')
    link(rel='stylesheet' href='/static/css/navigation.css')
    link(rel='stylesheet' href='/static/css/variables.css')
    link(rel='stylesheet' href='/static/css/beta-testing.css')
    //- CANT INCLUDE NAVIGATION = ERROR IS 500
  include includes/navigation.pug
  body.beta-testingBody
    .logoDiv
      a(href="/")
    #beta-testingVideo
      iframe(src="https://www.youtube.com/embed/DZg2zUqIdCI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    #beta-testingContentWrapper
      #forTextAlignment
        h1 Beta Testing
        h2 Don’t be an alpha
        p According to our dictionary “alpha” stands for a dominant and socially aggressive individual that gains power from devious acts. Is that something that you want to be associated with? Yeah, didn’t think so. So distance yourself from that and become a beta (tester) today!
        h2 What is a beta tester?
        p Some describe them as friends, life saviours or Gods (all of which are true), but we like to define them as true believers. In this case, believers in our game. As a beta tester you gain access to confidential information about our game development, you truly become one of us. Your input and feedback will drive the game forward and you will help us make the game better than we could have ever imagined. This is your time to make a mark on a game.
        h2 What does being a beta tester entail?
        p First of all: bragging rights. Imagine a lovely summer’s day, meeting up in the park with your friends for a few beers and a game of kubb. But what, Olle has forgotten his kubb at home? What will you do now? Well, you come to the rescue! See, you’ve helped develop this awesome game Snatch Time that is to be played in teams outside, and all you need is your cellphones! Easy peasy, you are now their hero.
        p More practically, being a beta tester means that you will join a few people from our team and play a couple of rounds of the game. After doing this you will partake in a short discussion where you share your opinions: what you liked, what you didn’t like, what can be improved, new ideas - really, whatever you feel is relevant to making the game a better experience. These tests will take roughly an hour and a half (1,5 hours) and will be arranged online with a digital version of the game. You’ll need a computer, a cellphone, access to Zoom, a microphone and preferably (but not necessarily) a web camera.
        p We hope you can join us and help make our game a better experience for everyone (and kick some ass doing so).
        p xo, the Snatch Time team

  //- Common footer
  include includes/footer.pug
  //- Common utility functions
  script(src='/static/js/utils.js')
  //- JavaScript for this page (might not be needed)
  script(src='/static/js/index.js')
  script(src='/static/js/navigation.js')
