doctype html
html
  head
    title Snatch
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    //- All of the basic CSS variables
    link(rel='stylesheet' href='/static/css/index.css')
    link(rel='stylesheet' href='/static/css/navigation.css')
    link(rel='stylesheet' href='/static/css/variables.css')
    link(rel='stylesheet' href='/static/css/crews.css')
    link(rel='stylesheet' href='/static/css/footer.css')
    //- CANT INCLUDE NAVIGATION = ERROR IS 500
  include includes/navigation.pug
  body#crewsBody
    .logoDiv
      a(href="/")
    #crewsWrapper
      h1 Crews
      .crewsGrid
        .cardSpace
          .cardBase
            #crew1.crewCard.starBackground
              img(src="/static/images/crews/hoarders-18.svg", alt="star geeks").crewImage
              h3 HOARDERS 
            .crewInfo.crewInfoLongText
              h3 After collecting everything on earth Hans the Hoarder realized he had no purpose, no friends and simply, no life. Until one night in the winter, Hans looked up at the night sky and in the far distance he spotted something, some junk: space trash. All of a sudden he had a new purpose, a new adventure ahead and just a few months later Hans and his crew were drifting in space. 
              h2 HOARDERS
        .cardSpace
          .cardBase
            #crew2.crewCard.starBackground
              img(src="/static/images/crews/karens-18.svg", alt="karens").crewImage
              h3 THE KARENS 
            .crewInfo.crewInfoLongText
              h3 What do you call a group of Karens? A gaggle? A complaint? A terror? Whatever you call them, we’ve got them. Or more accurately the spaceship Privilege has them. This ship is full of Karens, but no manager in sight. If you too like to demand your way at the expense of others, you are welcome to join this crew.  Warning: you may have to cut your hair.
              h2 THE KARENS
        .cardSpace
          .cardBase
            #crew3.crewCard.starBackground
              img(src="/static/images/crews/raccoons-17.svg", alt="raccoons").crewImage
              h3 RACCOONS 
            .crewInfo.crewInfoLongText
              h3 Some might call them trash pandas, others will call them nature's ninjas or little bandits - but why can’t all three statements be true? Join Captain Tito and his crew of adorable and sometimes scary rascals on their trip through space. They might nibble on you sometimes, and they definitely will smell but your risk of catching rabies is only like 60%, so why don’t you go for it? Warning: don’t pet the crew. 
              h2 RACCOONS
        .cardSpace
          .cardBase
            #crew4.crewCard.starBackground
              img(src="/static/images/crews/humans-18.svg", alt="humans").crewImage
              h3 HUMANS 
            .crewInfo.crewInfoLongText
              h3 Humans, you never thought they would make it this far into the future, but here they are, barely smarter than the raccoons. Ever heard of the term dick on a stick? That is reality for Captain E. Rex Sean of spaceship Errat. He actually carries around his dick on a stick. No one really knows why, he just does. It’s a mystery to everyone, including his crew. Make space great again and join the Humans.
              h2 HUMANS
        .cardSpace
          .cardBase
            #crew5.crewCard.starBackground
              img(src="/static/images/crews/starGeeks-18.svg", alt="star geeks").crewImage
              h3 STAR GEEKS 
            .crewInfo.crewInfoLongText  
              h3 Long they have lived behind closed curtains and cursed the sun. Years of sun deficiency have turned them pale beyond recognition. They can no longer go outside as the sun will burn them to death, so they seek revenge on all light. They are here to destroy the stars and leave all life to paleness. 
              h2 STAR GEEKS
        .cardSpace
          .cardBase
            #crew6.crewCard.starBackground
              img(src="/static/images/crews/babies-18.svg", alt="the babies").crewImage
              h3 THE BABIES 
            .crewInfo
              h3 Welcome onboard the SC Baby Boom, where the babies are in charge. With an IQ of 176, they can’t use the toilet yet, but they sure can pilot a ship. If you don’t mind dirty diapers and crybabies, then this is the crew for you to join. 
              h2 THE BABIES
        .cardSpace
          .cardBase
            #crew7.crewCard.starBackground
              img(src="/static/images/crews/shitStormers-18.svg", alt="shit stormers").crewImage
              h3 SHIT STORMERS 
            .crewInfo.crewInfoLongText
              h3 Five former Nasa employees founded Serious Hyper Intelligence Technology, SHIT for short. What is the most frequent thing humans dispose of? Yes, you are correct, it’s shit. Years of research led to the discovery of the spinning ship, that drives through space disposing of human feces, once the engine is fueled it can travel at 12 200 km/h. Shit is simply the shit.
              h2 SHIT STORMERS
        .cardSpace
          .cardBase
            #crew8.crewCard.starBackground
              img(src="/static/images/crews/flatEarthers-18.svg", alt="flat earthers").crewImage
              h3 FLAT EARTHERS 
            .crewInfo.crewInfoLongText
              h3 A planet shouldn’t be spherical. A ball is spherical, a marble is spherical, even an eyeball is spherical, but a planet should not be. It’s against  the laws of nature and the Flat Earthers refuse to believe that there isn’t a planet out there that is right for them. On their mission they have found themselves in the Spiral Star galaxy having to gather more supplies. Their mission might seem impossible, but the universe is vast and they have not given up. 
              h2 FLAT EARTHERS
    //- Common footer
  include includes/footer.pug
  script(src="/static/js/utils.js")
  script(src="/static/js/navigation.js")
  script(src="/static/js/backgroundAssigner.js")
