doctype html
html
  head
    title Snatch Time
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    //- All of the basic CSS variables
    link(rel='stylesheet' href='/static/css/index.css')
    link(rel='stylesheet' href='/static/css/navigation.css')
  //- CANT INCLUDE NAVIGATION = ERROR IS 500
  include includes/navigation.pug
  body.indexBody
    .logoDiv
    #indexStarryDiv
      #indexWelcomeText
         #indexWelcomeTextUpper
            p Some shit has gone down in the Spiral Star Galaxy,
            p and you have to solve it
         p The designated dump planet Trashzonia has exploded and now trash is floating around everywhere in the galaxy. It is an ecological disaster on an astronomical scale. Since capitalism is king, the Galaxy Federation has hired private contractors, including you and your crew, to collect this garbage and dispose of it. You will be rewarded greatly for your work, but watch out for the other crews! They might want all of the rewards for themselves…
    #indexContentWrapper
      .indexWrapperDiv
         p DISCOVER THE PLANETS
         p här ska vara tre planeter. De ska vara random varje gång man laddar om GLÖM EJ!!!!!!!!
         .indexWrapperDivPlanets
            .indexPlanetDiv
               .indexPlanetImg
               p Pluto
            .indexPlanetDiv
               .indexPlanetImg
               p Moo
            .indexPlanetDiv
               .indexPlanetImg
               p Planet
      .indexWrapperDiv#videoDiv
         iframe(width="560" height="315" src="https://www.youtube.com/embed/DZg2zUqIdCI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
      .indexWrapperDiv
         p UPDATES FROM THE TEAM

    //- Common footer
    include includes/footer.pug
    //- Common utility functions
    script(src='/static/js/utils.js')
    //- JavaScript for this page (might not be needed)
    script(src='/static/js/index.js')
    script(src='/static/js/navigation.js')
