doctype html
html
  head
    title Snatch Time
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    //- All of the basic CSS variables
    link(rel='stylesheet' href='/static/css/index.css')
    link(rel='stylesheet' href='/static/css/navigation.css')
    link(rel='stylesheet' href='/static/css/common.css')
  //- CANT INCLUDE NAVIGATION = ERROR IS 500
  include includes/navigation.pug
  body.indexBody
    .logoDiv
      a(href="/")
    #indexStarryDiv
      #indexWelcomeText
         #indexWelcomeTextUpper
            span Some shit has gone down in the Spiral Star Galaxy,
            span and you have to solve it
         p The designated dump planet Trashzonia has exploded and now trash is floating around everywhere in the galaxy. It is an ecological disaster on an astronomical scale. Since capitalism is king, the Galaxy Federation has hired private contractors, including you and your crew, to collect this garbage and dispose of it. You will be rewarded greatly for your work, but watch out for the other crews!<br>They might want all of the rewards for themselves…
    #indexContentWrapper
      .indexWrapperDiv
         h3  DISCOVER THE PLANETS
         #indexWrapperDivPlanets
      .indexWrapperDiv#videoDiv
         iframe(style="width: 70vw; height: 39vw;" src="https://www.youtube.com/embed/DZg2zUqIdCI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
      .indexWrapperDiv
         h3 UPDATES FROM THE TEAM
         .teamUpdateDiv 
            p Transmission dated 2021:4:15
            p The Development Crew is floating in Uranus’ orbit, working nonstop to achieve greatness, and thus the ship is disgusting but the crew is happier than ever. They have discovered a new planet and the co-captains Vilma and Sebastian are in disagreement. Vilma thinks that they should visit the planet and discover its environment whereas Sebastian thinks that would be too time consuming. As these two discuss pros and cons we shall update you on the Design Crew.
            p The Design Crew is preparing to walk in space for the millionth time, but this time they will try to board the abandoned GG-ship. Their mission is to collect space dust that will make paint. Yes, the Design Crew is very ambitious and needs every detail to be perfect, so they go to space to collect space dust for one purpose, and one purpose only: to make you, the gamer, appreciate the game that little bit more. 
            p No one has seen the UX crew since they went to the dark side of the moon of Moo, their last words were “how could you have forgotten to design an off...” and then they went silent. To rescue the UX crew we have sent our bounty hunter Johannes, but sadly we haven't seen him for a long time. We still have hope, but we fear the worst.
            p Transmission ending…
            .cornerLeftDiv
            .cornerRightDiv

    //- Common footer
    include includes/footer.pug
    //- Common utility functions
    script(src='/static/js/utils.js')
    script(src='/static/js/index.js')
    script(src='/static/js/navigation.js')
