doctype html
html
  head
    title Snatch
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    //- All of the basic CSS variables
    link(rel='stylesheet' href='/static/css/navigation.css')
    link(rel='stylesheet' href='/static/css/variables.css')
    link(rel='stylesheet' href='/static/css/planets.css')
    link(rel='stylesheet' href='/static/css/footer.css')
    //- CANT INCLUDE NAVIGATION = ERROR IS 500
  include includes/navigation.pug
  body#planetsBody
    .logoDiv
      a(href="/")
    #planetWrapper
      h1 Planets
      .planetGrid
        .cardSpace
          .cardBase
            #planet1.planetCard.starBackground
              img(src="/static/images/planets/Blandito-18.svg", alt="Blandito").planetImage
              h3 Blandito
            .planetInfo
              h3 Some information about the planet  
        .cardSpace
          .cardBase
            #planet3.planetCard.starBackground
              img(src="/static/images/planets/Margareth-17.svg", alt="Margareth").planetImage
              h3 Margareth
            .planetInfo
              h3 Some information about the planet 
        .cardSpace
          .cardBase
            #planet4.planetCard.starBackground
              img(src="/static/images/planets/Pluto-18.svg", alt="Pluto").planetImage
              h3 Pluto
            .planetInfo
              h3 Some information about the planet 
        .cardSpace
          .cardBase
            #planet5.planetCard.starBackground
              img(src="/static/images/planets/Uranus-18.svg", alt="Uranus").planetImage
              h3 Uranus
            .planetInfo
              h3 Some information about the planet 
        .cardSpace
          .cardBase
            #planet6.planetCard.starBackground
              img(src="/static/images/planets/Urmom-18.svg", alt="Urmom").planetImage
              h3 Urmom
            .planetInfo
              h3 Some information about the planet
        .cardSpace
          .cardBase
            #planet2.planetCard.starBackground
              img(src="/static/images/planets/Kim-17.svg", alt="Kim").planetImage
              h3 Kim
            .planetInfo
              h3 Some information about the planet
  include includes/footer.pug
  script(src="/static/js/utils.js")
  script(src="/static/js/navigation.js")
  script(src="/static/js/backgroundAssigner.js")
