doctype html
html
  head
    title Snatch
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    //- All of the basic CSS variables
    link(rel='stylesheet' href='/static/css/navigation.css')
    link(rel='stylesheet' href='/static/css/variables.css')
    link(rel='stylesheet' href='/static/css/planets.css')
    link(rel='stylesheet' href='/static/css/footer.css')
    //- CANT INCLUDE NAVIGATION = ERROR IS 500
  include includes/navigation.pug
  body#planetsBody
    .logoDiv
      a(href="/")
    #planetWrapper
      h1 Planets
      .planetGrid
        .cardSpace
          .cardBase
            #planet1.planetCard.starBackground
              img(src="/static/images/planets/Blandito-18.svg", alt="Blandito").planetImage
              h3 BLANDITO
            .planetInfo
              h3 Blandito  hates being a planet, he would rather  be a square.  
        .cardSpace
          .cardBase
            #planet3.planetCard.starBackground
              img(src="/static/images/planets/Margareth-17.svg", alt="Margareth").planetImage
              h3 MARGARETH
            .planetInfo
              h3 Where do all of the nice grandmas go when they die? To heaven? Well, this one made it all the way to space. This is Margareth, the Spiral Star galaxy’s very own, personal  grandma. She used to knit and bribe her grandchildren, but now she can only watch, which is perfectly fine with her, because spying on her neighbours used to be one of her favourite hobbies.  
        .cardSpace
          .cardBase
            #planet4.planetCard.starBackground
              img(src="/static/images/planets/Pluto-18.svg", alt="Pluto").planetImage
              h3 PLUTO
            .planetInfo
              h3 Poor Pluto was bullied out of the Milky Way galaxy, so he came to the Spiral Star galaxy with a new look to try to make it as a planet once again.  
        .cardSpace
          .cardBase
            #planet5.planetCard.starBackground
              img(src="/static/images/planets/Uranus-18.svg", alt="Uranus").planetImage
              h3 URANUS
            .planetInfo
              h3 It’s true, every galaxy has a Uranus, this galaxy’s is just a bit more literal.  The natives have one rule, and one rule only, don’t go near the smelly volcano.  
        .cardSpace
          .cardBase
            #planet6.planetCard.starBackground
              img(src="/static/images/planets/Urmom-18.svg", alt="Urmom").planetImage
              h3 UR MAMA
            .planetInfo
              h3 Ur mama is so big she is literally a planet.
        .cardSpace
          .cardBase
            #planet2.planetCard.starBackground
              img(src="/static/images/planets/Kim-17.svg", alt="Kim").planetImage
              h3 KIM
            .planetInfo
              h3 We had to create a planet in honour of our project manager, eh, I mean our Lord and saviour, Kim. No man is an island, but Kim is a planet. 
        .cardSpace
          .cardBase
            #planet2.planetCard.starBackground
              img(src="/static/images/planets/Moo-18.svg", alt="Kim").planetImage
              h3 MOO
            .planetInfo
              h3 Welcome to Moo. There’s cows. Not much else to say. Moo. 
        .cardSpace
          .cardBase
            #planet2.planetCard.starBackground
              img(src="/static/images/planets/Dead-Earth-17.svg", alt="Kim").planetImage
              h3 DEAD EARTH
            .planetInfo
              h3 Once upon a time, there was Planet Earth, but not anymore. Humans and animals lived in peace until one day when a sweet little girl named Greta sat outside the Parliament in Stockholm with a sign saying: "School strike for the climate", protesting against climate change. One day the US president posted a tweet saying ”Chill, Greta. Chill!”, but no one was listening to Greta. Yeah, Greta could chill, but the climate couldn't.
  include includes/footer.pug
  script(src="/static/js/utils.js")
  script(src="/static/js/navigation.js")
  script(src="/static/js/backgroundAssigner.js")
