html
  head
    title Snatch
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    //- All of the basic CSS variables
    link(rel='stylesheet' href='/static/css/index.css')
    link(rel='stylesheet' href='/static/css/navigation.css')
    link(rel='stylesheet' href='/static/css/variables.css')
    link(rel='stylesheet' href='/static/css/privacy-policy.css')
  body#bodyPrivacy 
    a(href='/')#logoDiv
    main#mainPrivacy
      h1#h1Privacy Privacy Policy
      p This Privacy Policy describes how your personal information is collected, used, and shared when you visit cosmosnatch.se (the "Site"). 
      h2#info Personal information we collect 
      p We collect Device Information using the following technologies:
        ul
          li "Log files", and User Accounts, track actions occurring on the Site, and collect data including your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps. 
          li "JSON" is a file type which in this case is used for storing registered e-mail adresses.

      h2#sharing Sharing your information
      p We do not share your information to third parties. The data (e-mail adresses) will only be used to send out e-mails containing information for beta testing.
      h2#rights Your Rights
      p If you are a European resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us through the contact information below. 
      h2#retention Data Retention
      p When you register an e-mail address through the Site, we will maintain your e-mail address in our records unless and until you ask us to delete this information.
      h2#change Changes
      p We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons. 
      h2#links 
      p Snatch Time contains links to other sites. We are not responsible for the privacy practices or the content of such Web sites. This privacy document applies only to Snatch Time.
      h2#contact Contact us
      p For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e‑mail at MAUVIP21@gmail.com.