html
  head
    title Snatch
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    //- All of the basic CSS variables
    link(rel='stylesheet' href='/static/css/index.css')
    link(rel='stylesheet' href='/static/css/navigation.css')
    link(rel='stylesheet' href='/static/css/variables.css')
    link(rel='stylesheet' href='/static/css/privacy-policy.css')
  body#bodyPrivacy 
    main#mainPrivacy
      h1#h1Privacy Privacy Policy 
      p#pPrivacy Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, necessitatibus provident commodi iure laboriosam laborum officia dolorum reprehenderit? Fugit, totam.
  script(src="/static/js/navigation.js")