doctype html
html
  head
    title Scratch, the best game ever!
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    //- All of the basic CSS variables
    link(rel='stylesheet' href='/static/css/scoreboard.css')
  body
    nav
    h1 Scoreboard
    //- scoreboard will be implemented later on since we don't have any clear design on it yet
    #scoreboard

    //- Common footer
    include includes/footer.pug
