* {
    margin: 0px;
    padding: 0px;
}

.about-teamsBody {
    margin: 0px;
    background-color: var(--greyBgC);
    color: var(--whiteFontC);
 }

 body > .logoDiv {
     position: static;
     width: 100%;
     margin-bottom: 10vh;
 }

 h1 {
    font-family: var(--rajdhaniFont);
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
 }

 .wrapper {
     display: flex;
     flex-direction: column;
     width: 100%;
     justify-content: center;
     align-items: center;
 }

 .teamMembers {
     width: 70%;
 }

 .teamMember {
     display: flex;
     margin-bottom: 10px;
     align-items: center;
 }

 .right {
     flex-direction: row-reverse;
 }

 .left img {
     margin-right: 30px;
 }

 .right img {
     margin-left: 30px;
 }

 img {
     height: 320px;
 }

 .teamMember p {
    font-family: var(--latoFont);
    font-weight: lighter;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
 }

 .right .teamText {
    text-align: right;
 }