* {
    margin: 0px;
    padding: 0px;
}

.about-teamsBody {
    margin: 0px;
    background-color: var(--greyBgC);
    color: var(--whiteFontC);
 }


 body > .logoDiv {
     position: static;
     width: 100%;
     margin-bottom: 5vh;
 }

 .buttonWrapper {
    width: 100%;
 }

 .backButton {
    font-family: var(--rajdhaniFont);
    color: var(--whiteFontC);
    text-decoration: none;
    margin-left: 15%;
 }

 .backButton span:hover {
    text-decoration: underline;
 }


 h1 {
    font-family: var(--rajdhaniFont);
    font-weight: 700;
    font-size: 27px;
    line-height: 40px;
 }

 .wrapper {
     display: flex;
     flex-direction: column;
     width: 100%;
     justify-content: center;
     align-items: center;
 }

 .teamMembers {
     width: 55%;
 }

 .teamMember {
     display: flex;
     margin-top: 80px;
     align-items: center;
 }

 .right {
     flex-direction: row-reverse;
 }

 .left img {
     margin-right: 80px;
 }

 .right img {
     margin-left: 80px;
 }

 img {
     height: 280px;
 }

 .teamMember p {
    font-family: var(--latoFont);
    font-weight: lighter;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
 }

 @media (min-width: 1001px) {
    .right .teamText {
        text-align: left;
     }
 }

 @media(min-width: 600px) AND (max-width: 1000px) {

    .wrapper > h1 {
        margin-bottom: 20px;
    }

     h1 {
         margin-bottom: 10px;
     }

     .left img, .right img {
         margin: 0px;
     }

     .teamMember {
        flex-direction: column;
        text-align: left;
        margin-bottom: 30px;
    }

     .teamMember h1 {
         text-align: center;
         margin-top: 20px;
     }
 }



 @media (max-width: 600px) {
    .wrapper > h1 {
        margin-bottom: 20px;
    }

     h1 {
         margin-bottom: 10px;
     }

     .left img, .right img {
         margin: 0px;
     }

     .teamMember {
        flex-direction: column;
        text-align: left;
        margin-bottom: 30px;
    }

    .teamProfile {
        width: 60vw;
        height: 60vw;
    }

    .teamMember p {
        font-size: 16px;
    }

     .teamMember h1 {
         text-align: center;
         margin-top: 20px;
     }
 }