.about-projectBody {
    margin: 0px;
    background-color: var(--greyBgC);
    color: var(--whiteFontC);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }

 #about-projectText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60vw;
    /*height: 40vh;*/
    font-family: var(--latoFont);
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: start;
  }
  
  #about-projectUpperText {
    font-family: var(--rajdhaniFont);
    font-size: 25px;
    font-weight: 500;
    margin-top: 22vh;
    text-align: center;
  }



  @media(min-width: 501px) AND (max-width: 950px){
    #about-projectText {
        width: 80vw;
    }
  }
 
  @media(min-width: 0px) AND (max-width: 500px){
    #about-projectText {
        font-size: 16px;
        width: 70vw;
    }
  }