.about-teamBody {
  margin: 0px;
  background-color: var(--greyBgC);
  color: var(--whiteFontC);
}

.about-teamBody > p {
  width: 100vw;
}

#about-teamText {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  /*width: 100vw;*/
  height: 40vh;
}

#about-teamUpperText {
  font-family: var(--rajdhaniFont);
  font-size: 25px;
  font-weight: 500;
  margin-top: 22vh;
}

#about-teamMiddleText {
  font-family: var(--latoFont);
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-top: 0;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: center;
}

#about-teamTeamContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  word-break: break-word;
  margin-top: 4vh;
}

.aboutTeamDiv {
  background-color: #3d3c44;
  height: 100%;
  width: 20vw;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--rajdhaniFont);
  font-size: 30px;
  line-height: 25px;
  letter-spacing: 5px;
  text-align: center;
  cursor: pointer;
  color: var(--whiteFontC);
}

.aboutTeamDivImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40%;
  width: 80%;
  margin-bottom: 60px;
}

.aboutTeamDiv:first-child > .aboutTeamDivImg{
  background-image: url("/static/images/marketing-icon-17.svg");
}

.aboutTeamDiv:nth-child(2) > .aboutTeamDivImg {
  background-image: url("/static/images/ux-icon-17.svg");
}

.aboutTeamDiv:last-child > .aboutTeamDivImg {
  background-image: url("/static/images/dev-icon-17.svg");
}

.aboutTeamDivText {
  font-size: 2vw;
}
/* Breakpoint 1 1000px*/

@media screen and (max-width: 1000px){
  #about-teamTeamContainer {
    margin: 0;
    height: 45vh;
  }

  .aboutTeamDiv {
    height: 75%;
    width: 23vw;
  }
  .aboutTeamDivText {
    font-size: 20px;
  }
}
@media screen and (max-width: 800px){
  #about-teamTeamContainer {
    margin: 0;
    height: 45vh;
  }

  .aboutTeamDiv {
    height: 75%;
    width: 25vw;
  }
  .aboutTeamDivText {
    font-size: 14.5px;
  }
}
@media screen and (min-width:700px) {
  .aboutTeamDivText {
    font-size: 18px;
  }
}

@media screen and (max-width: 555px){
  #about-teamTeamContainer {
    flex-direction: column;
    height: unset;
  }
  .aboutTeamDiv {
      height: 30vh;
      width: 40vh;
      margin: 10px 0px;
  }
  .aboutTeamDivText {
    font-size: unset;
  }
}