/* This will be filled with common styling later on */
body {
   /* width: 100vw; */
}

.logoDiv {
   background: var(--logoImg);
   height: 25vh;
   width: 100%;
   background-repeat: no-repeat;
   background-position: center;
   position: absolute;
   /* top: -60px; */
   z-index: 98;
   align-items: center;
   margin-bottom: 25vh;
}
