@import "/static/css/variables.css";
@import "/static/css/common.css";

#crewsBody {
    background-color: var(--greyBgC);
    text-align: center;
    color: var(--whiteFontC);
    padding: 0;
    margin: 0;
}

.logoDiv {
    position: static;
    margin-bottom: 5vh;
}

#rulesWrapper {
    width: 80vw;
    min-height: 67vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}

#crewsWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

#crewsWrapper > h1 {
    font-family: var(--rajdhaniFont);
    font-weight: 700;
}

.crewsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    width: 65vw;
    grid-gap: 5%;
    margin: 30px 0 100px;
}

.crewCard {
    height: 27vw;
    max-width: 320px;
    max-height: 450px;
    background-color: #202020;
    box-shadow: 0 7px 10px #1e1e2271;
}

.crewImage {
    height: 90%;
}

.crewCard > h3 {
    margin: -40px 0 0;
    font-family: 'Rajdhani';
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 30px;
    padding: 3px;
}

/* FLIP CARD ON HOVER */

.cardSpace {
    background-color: transparent;
    perspective: 800px;
}
  
.cardBase {
    position: relative;
    width: 100%;
    height: 27vw;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    -webkit-transition: transform 0.8s;
    -moz-transition: transform 0.8s;
    -ms-transition: transform 0.8s;
    -o-transition: transform 0.8s;
}
 
.cardSpace:hover .cardBase {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.crewCard, .crewInfo {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: black;
}
.crewCard {
    position: absolute;
    color: white;
    background-position: center;
}
  
.crewInfo {
    transform: rotateY(180deg);
}
/* FLIP END */

@media(max-width: 450px){
    .crewsGrid {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-gap: 70vw;
    }
    .crewCard, .crewInfo {
        height: 93vw;
        margin-bottom: 35px;
    }
    .crewCard > h3 {
        font-size: 27px;
        margin-top: -35px;
    }

        #crewsWrapper {
        margin-bottom: 60vw;
    }
}

    .crewsGrid {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        width: 70vw;
        grid-gap: 25px;
    }
    .cardBase {
        margin-bottom: 20vw;
    }
    .crewCard, .crewInfo {
        height: 50vw;
    }
    .crewCard > h3 {
        font-size: 20px;
        margin-top: -25px;
    }

}


@media(min-width: 901px) AND (max-width: 1190){
    .crewCard > h3 {
        font-size: 25px;
        margin-top: -30px;
    }
  }

  @media(min-width: 401px) AND (max-width: 500){
    .crewCard > h3 {
        font-size: 13px;
    }
  }

  @media(min-width: 501) AND (max-width: 900){
    .crewCard > h3 {
        font-size: 13px;
    }
  }





