/* The following CSS files should be imported for each page */
@import "/static/css/variables.css";
@import "/static/css/common.css";

.indexBody {
  margin: 0px;
  background-color: var(--greyBgC);
  color: var(--whiteFontC);
  align-items: center;
  text-align: center;
}

div.logoDiv {
  height: 19vh;
  width: 100%;
}

#indexStarryDiv {
  position: sticky;
  height: 100vh;
  width: 100%;
  background: var(--starryBackgroundImage);
  background-size: cover;
  box-shadow: inset 0px -850px 500px -500px var(--greyBgC);
  -moz-box-shadow: inset 0px -850px 500px -500px var(--greyBgC);
  -webkit-box-shadow: inset 0px -850px 500px -500px var(--greyBgC);
  -o-box-shadow: inset 0px -850px 500px -500px var(--greyBgC);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#indexWelcomeText {
  width: 70vw;
  padding: 0px;
}

#indexWelcomeTextUpper {
  font-size: 30px;
  line-height: 28px;
}

#indexWelcomeTextUpper > span:first-child {
  font-family: var(--rajdhaniFont);
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}

#indexWelcomeTextUpper > span:last-child {
  font-family: var(--rajdhaniFont);
  font-weight: 500;
  margin: 0px;
  margin-left: 1%;
  padding: 0px;
}

#indexWelcomeText:last-child {
  font-family: var(--latoFont);
  font-weight: 300;
  font-size: 25px;
  line-height: 28px;
  margin: 0px;
}

#indexContentWrapper {
  font-family: var(--rajdhaniFont);
  font-weight: 400;
  font-size: 3vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indexWrapperDiv {
  position: relative;
  margin-top: 20vh;
  width: 70vw;
}

.indexWrapperDiv:first-child {
  margin-top: 0;
}

.indexWrapperDiv > p {
  margin-top: 0;
}

#indexWrapperDivPlanets {
  display: flex;
  justify-content: center;
  align-items: center;
}

#registerButton {
  text-decoration: none;
  color: black;
  background-color: var(--whiteFontC);
  border: none;
  font-family: var(--rajdhaniFont);
  padding: 10px;
  font-size: 20px;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  box-sizing: border-box;
  margin-top: 30px;
}
#registerButton:hover {
  box-shadow: 0px 0px 10px 2px var(--whiteFontC);
  cursor: pointer;
  color: var(--logoC);
}

.indexPlanetDiv {
  width: 32%;
  height: 30vw;
  margin: 0;
  background-image: url("/static/images/Starry-Background.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.indexPlanetDiv:nth-child(2){
  margin: 0 2vw;
}


.indexPlanetImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 50%;
  margin-top: 10%;
}

.indexPlanetDiv > p {
  /*margin: 0 0 10px 0;*/
}

#videoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#videoDiv > iframe {
  width: 70vw;
  height: 39vw;
}

.updateWrapperDiv {
  max-width: 900px;
}

.teamUpdateDiv {
  text-align: justify;
  font-family: var(--latoFont);
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  padding: 2vw;
}

.teamUpdateDivOld {
  overflow: hidden;
  transition: max-height 2s ease-out;
  height: 0;
  max-height: 0;
  -webkit-transition: max-height 2s ease-out;
  -moz-transition: max-height 2s ease-out;
  -ms-transition: max-height 2s ease-out;
  -o-transition: max-height 2s ease-out;
}

.teamUpdateDivOld.collapsed {
  height: auto;
  max-height: 800vh;
}

#toggle-button {
  color: black;
  background-color: var(--whiteFontC);
  border: none;
  font-family: var(--rajdhaniFont);
  padding: 10px;
  font-size: 20px;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  box-sizing: border-box;
  margin-top: 5vh;
}

#toggle-button:hover {
  box-shadow: 0px 0px 10px 2px var(--whiteFontC);
  cursor: pointer;
  color: var(--logoC);
}

.oldUpdates {
  margin-top: 40px;
  color: #949494;
}

.teamUpdateDiv > p:first-child {
  margin-top: 0;
}

.cornerLeftDiv, .cornerRightDiv {
  position: absolute;
  height: 3vw;
  width: 3vw;
}

.cornerLeftDiv {
  border-top: 5px solid white;
  border-left: 5px solid white;
  top: 0;
  left: 0;
}

.cornerRightDiv {
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  bottom: 0;
  right: 0;
}

.oldUpdates .cornerLeftDiv, .oldUpdates .cornerRightDiv {
  border-color:#646466;
}

.updateFrame img {
  width: 30vw;
  min-width: 315px;
  max-width: 440px;
}

/* breakpoint <600px */
@media(min-width: 600px) and (max-width: 800px){
  #indexWelcomeText:last-child {
    margin-top: 17vw;
  }
  .indexWrapperDiv {
    margin-top: 15vh;
  }
  .indexPlanetDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .indexPlanetDiv p {
    font-size: 25px;
    /*margin: 0 0 10px 0;*/
  }
}


/* mobile version <360px */
@media(min-width: 0px) and (max-width: 599px){
  #indexStarryDiv {
    height: auto;
    /*min-height: 80vh;*/
    justify-content: flex-start;
    box-shadow: inset 0px -780px 500px -500px var(--greyBgC);
    -moz-box-shadow: inset 0px -780px 500px -500px var(--greyBgC);
    -webkit-box-shadow: inset 0px -780px 500px -500px var(--greyBgC);
    -o-box-shadow: inset 0px -780px 500px -500px var(--greyBgC);
  }
  #indexWelcomeText {
    width: 80vw;
  }
  #indexWelcomeTextUpper {
    font-size: 27px;
  }
  #indexWelcomeText:last-child {
    margin: 21vh 0 8vh;
    font-size: 18px;
    line-height: 25px;
  }
  #indexWelcomeText > p {
    margin-top: 35px;
  }
  .indexWrapperDiv {
    width: 90vw;
    margin-top: 10vh;
  }
  .indexWrapperDiv > p {
    font-size: 30px;
  }
  #indexWrapperDivPlanets {
    flex-direction: column;
  }
  .indexPlanetImg {
    height: 60%;
    margin-top: 14%;
  }
  .indexPlanetDiv, .indexPlanetDiv:nth-child(2) {
    max-height: 300px;
    max-width: 300px;
    width: 80%;
    height: 60vw;
    margin-bottom: 30px;
  }
  .indexPlanetDiv > p {
     font-size: 30px;
  }
  #videoDiv > iframe {
    border: 4px solid #1a191d;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  #registerButton {
    font-size: 15px;
  }
  .teamUpdateDiv {
    padding: 4vw;
    text-align: left;
  }
  .cornerLeftDiv, .cornerRightDiv {
    height: 6vw;
    width: 6vw;
  }
  .teamUpdateDiv p {
    font-size: 17px;
  }
  .indexWrapperDiv > h3, .indexWrapperDiv > h3 {
    font-size: 7vw;
  }
}

@media(min-width: 0px) and (max-width: 400px){
  #indexWelcomeTextUpper {
    font-size: 23px;
  }
  #indexWelcomeText:last-child {
    font-size: 17px;
  }
  .updateFrame img {
    min-width: 260px;
  }
}