header {
   position: fixed;
   z-index: 99;
}

#navGrid {
   /* width: 350px; */
   width: 350px;
   height: 100vh;
   position: absolute;
   background-color: var(--greyBgC);
   transition: 0.4s;
   left: -350px;
   z-index: 97;
}

.navGridOpenClose#navGrid {
   left: 0px;
}

#currentPage {
   font-weight: bold;
}

#navGrid > a {
   text-decoration: none;
   color: var(--whiteFontC);
   cursor: pointer;
   display: flex;
   justify-content: left;
   align-items: flex-start;
   flex-direction: column;
   padding-left: 10%;
   width: 100%;
}


.navLinkBig {
   font-family: var(--rajdhaniFont);
   /* the px here are from me generating pt to px */
   font-size: 20px;
   line-height: 36px;
   letter-spacing: 3px;
   margin-top: 5%;
}

.navLinkSmall {
   font-family: var(--latoFont);
   font-weight: 100;
   /* the px here are from me generating pt to px */
   /* font-size: 33px;
   line-height: 49px; */
   font-size: 20px;
   line-height: 25px;
}

#navHamContainer {
   width: 35px;
   cursor: pointer;
   z-index: 98;
}

.navBar1, .navBar2, .navBar3 {
   width: 100%;
   height: 5px;
   background-color: white;
   margin: 6px 0;
   transition: 0.4s;
}

.change .navBar1 {
   transform: rotate(-45deg) translate(-9px, 6px);
}

.change .navBar2 {
   opacity: 0;
}

.change .navBar3 {
   transform: rotate(45deg) translate(-8px, -8px);
}

.menuDropDownDiv {
   display: none;
   flex-direction: column;
   text-align: left!important;
}

.menuDropDownDiv a {
   text-decoration: none;
   color: var(--whiteFontC);
   width: 50%;
   margin-left: 10%;
}

.menuDropDownDiv a:visited {
   color: var(--whiteFontC);
}

