@import "/static/css/variables.css";
@import "/static/css/common.css";

header {
   position: fixed;
   left: 1vh;
   z-index: 99;
}

#navGrid {
   width: 30vw;
   height: 100vh;
   position: absolute;
   background-color: var(--greyBgC);
   -webkit-transition: 0.4s;
   -o-transition: 0.4s;
   transition: 0.4s;
   left: -200vw;
   z-index: 97;
}

.navGridOpenClose#navGrid {
   left: -1vw;
}

.currentPage {
   font-weight: 700;
}

#navGrid > a {
   text-decoration: none;
   color: var(--whiteFontC);
   cursor: pointer;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: left;
       -ms-flex-pack: left;
           justify-content: left;
   -webkit-box-align: start;
       -ms-flex-align: start;
           align-items: flex-start;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   padding-left: var(--navPaddingLeft);
   width: var(--navLinkWidth);
}


.navLinkBig {
   font-family: var(--rajdhaniFont);
   font-size: var(--navHeadLinksFontSize);
   line-height: 36px;
   letter-spacing: 3px;
   margin-top: 5%;
}

.navLinkSmall {
   font-family: var(--latoFont);
   font-weight: 100;
   font-size: var(--navDropDownLinksFontSize);
   text-decoration: none;
   line-height: var(--navDropDownLinksLineHeight);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   width: 0;
}

#navHamContainer {
   width: 35px;
   cursor: pointer;
   z-index: 98;
}

.navBar1, .navBar2, .navBar3 {
   width: 100%;
   height: 5px;
   background-color: white;
   margin: 6px 0;
   -webkit-transition: 0.4s;
   -o-transition: 0.4s;
   transition: 0.4s;
}

.change .navBar1 {
   -webkit-transform: rotate(-45deg) translate(-9px, 6px);
       -ms-transform: rotate(-45deg) translate(-9px, 6px);
           transform: rotate(-45deg) translate(-9px, 6px);
}

.change .navBar2 {
   opacity: 0;
}

.change .navBar3 {
   -webkit-transform: rotate(45deg) translate(-8px, -8px);
       -ms-transform: rotate(45deg) translate(-8px, -8px);
           transform: rotate(45deg) translate(-8px, -8px);
}

.menuDropDownDiv {
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   text-align: left!important;
   height: 0;
   -webkit-transition: all var(--navTransitionDurations) ease;
   -o-transition: all var(--navTransitionDurations) ease;
   transition: all var(--navTransitionDurations) ease;
   margin-left: -100%;
   -webkit-animation: dropDownSlideOut var(--navAnimationDurationIn) ease forwards;
           animation: dropDownSlideOut var(--navAnimationDurationIn) ease forwards;
}

.menuDropDownShowing {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   height: 15%;
   -webkit-transition: all var(--navTransitionDurations) ease;
   -o-transition: all var(--navTransitionDurations) ease;
   transition: all var(--navTransitionDurations) ease;
   -webkit-animation: dropDownSlideIn var(--navAnimationDurationOut) ease forwards;
           animation: dropDownSlideIn var(--navAnimationDurationOut) ease forwards;
}

.menuDropDownShowingTheGame {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   height: 30%;
   -webkit-transition: all var(--navTransitionDurations) ease;
   -o-transition: all var(--navTransitionDurations) ease;
   transition: all var(--navTransitionDurations) ease;
   -webkit-animation: dropDownSlideIn var(--navAnimationDurationOut) ease forwards;
           animation: dropDownSlideIn var(--navAnimationDurationOut) ease forwards;
}

.menuDropDownDiv.menuDropVisable a {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   font-size: var(--navDropDownLinksFontSize);
   text-decoration: none;
   line-height: var(--navDropDownLinksLineHeight);

   color: var(--whiteFontC);
   width: var(--navLinkWidth);
   padding-left: var(--navPaddingLeft);
}

.menuDropDownDiv a:visited {
   color: var(--whiteFontC);
}

#navGrid a:hover {
   opacity: var(--navLinkHoverOpacity);
}

@-webkit-keyframes dropDownSlideIn {
   to {
      margin-left: 0;
   }
}

@keyframes dropDownSlideIn {
   to {
      margin-left: 0;
   }
}

@-webkit-keyframes dropDownSlideOut {
   from {
      margin-left: 0;
   }
   to {
      margin-left: -100%;
   }
}

@keyframes dropDownSlideOut {
   from {
      margin-left: 0;
   }
   to {
      margin-left: -100%;
   }
}

@media (max-width: 900px) {
   #navGrid {
      width: 50vw;
      left: -200vw;
   }
}

@media (max-width: 600px) {
   #navGrid {
      width: 100vw;
   }
}
