@import "/static/css/variables.css";
@import "/static/css/common.css";

#planetsBody {
    background-color: var(--greyBgC);
    text-align: center;
    color: var(--whiteFontC);
    padding: 0;
    margin: 0;
}

.logoDiv {
    position: static;
    margin-bottom: 5vh;
}

#rulesWrapper {
    width: 80vw;
    min-height: 67vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}

#planetWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

#planetWrapper > h1, h3 {
    font-family: var(--rajdhaniFont);
    font-weight: 700;
}

.planetGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    width: 65vw;
    grid-gap: 5%;
    margin: 30px 0 100px;
}

.planetCard {
    height: 27vw;
    max-width: 320px;
    max-height: 450px;
    background-color: #202020;
    box-shadow: 0 7px 10px #1e1e2271;
}

.planetImage {
    height: 90%;
}

.planetCard > h3, .planetInfo > h2 {
    margin: -40px 0 0;
    font-family: var(--rajdhaniFont);
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 30px;
    padding: 3px;
}

/* FLIP CARD ON HOVER */

.cardSpace {
    background-color: transparent;
    perspective: 800px;
	
}
  
.cardBase {
    position: relative;
    width: 100%;
    height: 27vw;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    -webkit-transition: transform 0.8s;
    -moz-transition: transform 0.8s;
    -ms-transition: transform 0.8s;
    -o-transition: transform 0.8s;
	
	
}
 
.cardSpace:hover .cardBase {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
	
	
    /*border-image: url("/static/images/Neon-frame-18.svg") 50 fill / 40px / 40px ; */
	/*border-image-repeat: no-repeat;*/
}



.planetCard, .planetInfo {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: var(--greyBgC);
}

.planetCard, .planetInfoLongText {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: var(--greyBgC);
}



.cardSpace:hover .planetInfo {
	border-image: url("/static/images/Neon-frame-18.svg") 50 fill / 40px / 25px ;
}

.cardSpace:hover .planetInfoLongText{
	border-image: url("/static/images/Neon-frame-18.svg") 50 fill / 40px / 25px ;
}


.planetCard {
    position: absolute;
    color: white;
    background-position: center;
}
  
.planetInfo {
    transform: rotateY(180deg);
	/*font-size: 80%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planetInfoLongText{
    transform: rotateY(180deg);
}

.planetInfo > h3 {
    font-weight: 500;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    padding: 0 30px;
    font-size: 1.1vw;
    margin-bottom: 20px;
}

.planetInfo > h2 {
    margin-top: -20px;
}

/* FLIP END */


@media(max-width: 450px){
    .planetGrid {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-gap: 80vw;
    }
    .planetCard, .planetInfo {
        height: 93vw;
        margin-bottom: 35px;
    }
	.planetInfoLongText{
		 height: 93vw;
        margin-bottom: 35px;
		font-size: 60%;
	}
    .planetInfo > h3 {
        padding: 0 20px;
        font-size: 3.5vw;
    }
    .planetCard > h3 {
        font-size: 27px;
        margin-top: -35px;
    }
    #planetWrapper {  
        margin-bottom: 60vw;
    }
}

@media (min-width: 451px) {
    .planetCard > h3, .planetInfo > h2 {
        font-size: 18px;
    }
    .planetInfo > h3 {
        padding: 0 5px;
        font-size: 11px;
    }
}

@media (min-width: 600px) {
    .planetCard > h3, .planetInfo > h2 {
        font-size: 24px;
    }
    .planetInfo > h3 {
        padding: 0 20px;
        font-size: 1.8vw;
    }
}

@media(min-width: 901px) {
    .planetCard > h3, .planetInfo > h2 {
        font-size: 20px;
    }
    .planetInfo > h3 {
        padding: 0 10px;
        font-size: 1.1vw;
    }
}

@media(min-width: 1200px) {
    .planetCard > h3, .planetInfo > h2 {
        font-size: 26px;
    }
    .planetInfo > h3 {
        padding: 0 25px;
    }
}

@media(min-width: 450px) AND (max-width: 900px) {
    .planetGrid {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        width: 80vw;
        grid-gap: 25px;
    }
    .cardBase {
        /*margin-bottom: 20vw;*/
        height: auto;
    }
    .planetCard, .planetInfo {
        height: 58vw;
    }
	.planetInfoLongText{
		 height: 58vw;
		 font-size: 60%;
	}
    .planetCard > h3, .planetInfo > h2 {
        margin-top: -35px;
    }
	
	

}

