#registerBody {
  background-color: var(--greyBgC);
}

.logoDiv {
  height: 19vh;
  margin-bottom: 10vh;
  position: static;
}
#registerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#registerForm {
  display: flex;
  flex-direction: column;
  
}

#registerh1, #registerButton {
  font-family: var(--rajdhaniFont);
}

.inputRegister, #registerButton {
  background-color: var(--whiteFontC);
  border: none;
  padding: 10px;
}

#registerButton {
  font-size: 20px;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  box-sizing: border-box;
  width: 50%;
}
#registerButton:hover {
  box-shadow: 0px 0px 10px 2px var(--whiteFontC);
  cursor: pointer;
  color: var(--logoC);
}

.inputRegister {
  font-size: 14px;
  margin: .5vh;
  
}

#buttonContainer {
  display: flex;
  justify-content: center;
}

#privacyParent {
  display: flex;
}

#registerh1, #privacyTag, #registerLabel, #registerInformationText, #warningText {
  color: var(--whiteFontC);
  text-align: center;
}

#privacyTag, #registerLabel, #registerInformationText, #warningText {
  font-family: var(--latoFont);
}

#privacyTag:hover {
  color: var(--logoC);
}

#warningText {
  height: 20px;
}

.hidden {
  opacity: 0;
}