@import "/static/css/variables.css";
@import "/static/css/common.css";

.releaseBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
    background-color: var(--greyBgC);
    color: var(--whiteFontC);
 }


#release-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    font-family: var(--rajdhaniFont);
    width: 95%;
    height: 85vh;
}

#release-outerCountdown {
    width: 100%;
    height: 30%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#release-innerCountdown {
    width: 90%;
    max-width: 500px;
    height: 80%;
}

#release-countDown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;

    display: flex;
    justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    color: var(--whiteFontC);
    height: 100%;
}

#release-cdTitle {
    font-size: 25pt;
    margin-top: 22vh;

}

.release-cdTimer {
    text-align: center;

    font-size: 8vh;
    height: 9vh;
    width: 9vh;
}


#linkOuter p {
    margin-top: 60px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .5px;
}

#fbLink {
    color: var(--whiteFontC);
}

@media (max-width: 900px) {
    .releaseBody {
        overflow-y: hidden;
    }
}
