/* Todo: update with more stuff */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Montserrat&display=swap');

:root {
    --colorExample: #0088cc;

   /* From the design we got 17 march */
   --mainBackgroundImage: url("/static/images/space-background.jpg");
   --logoImage: url("/static/images/logo.png");
   --logoImage: url("/static/images/phone-img.png");
   --mainThickFont: 'Bungee Inline', cursive;
   --mainSlimFont: 'Montserrat', sans-serif;
   --navActiveBg: rgba(145, 145, 145, 0.8);

   /* From the design we got 17 march - INDEX*/
   --middleDivBg: rgba(255,255,255, 0.8);
   --glowingTextShadow: 0 0 5px;
   --glowingPinkC: pink;
}
