/* Todo: update with more stuff */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');


:root {
   /* Common variables */
   --rajdhaniFont: 'Rajdhani', sans-serif;
   --latoFont: 'Lato', sans-serif;
   --logoImg: url("/static/images/Logo.svg");

   --greyBgC: #242328;
   --whiteFontC: #F4F4F4;
   --logoC: #FF00CC;

   --teamPinkC: #FF3399;
   --teamMagentaC: #CC00FF;
   --teamBlueC: #0066FF;
   --teamCyanC: #33FFFF;

   /* Index page */
   --starryBackgroundImage: url("/static/images/Starry-Background.jpg");

   /* not using, thought it probably was to complicated */
   /* --fwFirstUpper: 700;
   --fwSecondUpper: 500;
   --fwLastUpper: 300; */
}

body {
   width: 100vw;
}
