/* Todo: update with more stuff */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');


:root {
   /* Common variables */
   --rajdhaniFont: 'Rajdhani', sans-serif;
   --latoFont: 'Lato', sans-serif;
   --logoImg: url("/static/images/Logo.svg");

   --greyBgC: #242328;
   --whiteFontC: #F4F4F4;
   --logoC: #FF00CC;

   --teamPinkC: #FF3399;
   --teamMagentaC: #CC00FF;
   --teamBlueC: #0066FF;
   --teamCyanC: #33FFFF;

   /* Index page */
   --starryBackgroundImage: url("/static/images/Starry-Background.jpg");

   /* not using, thought it probably was to complicated */
   /* --fwFirstUpper: 700;
   --fwSecondUpper: 500;
   --fwLastUpper: 300; */

   /* Navigation */
   --navPaddingLeft: 10%;
   --navLinkWidth: calc(var(--navPaddingLeft) - 100%)%;
   --navHeadLinksFontSize: 28pt;
   --navDropDownLinksFontSize: 25pt;
   --navLinkHoverOpacity: 0.7;
   --navDropDownLinksLineHeight: 37pt;
   --navAnimationDurationOut: 0.7s;
   --navAnimationDurationIn: 0.25s;
   --navTransitionDurations: 0.5s;

   /* Planets Fontsize */
   --heading2: 4vw;
   --heading3: 2vw;
   --paragraphs: 1.5vw;
   --heading2Mobile: 40pt;
   --heading3Mobile: 30pt;
   --paragraphsMobile: 16pt;
}
